body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
    font-size: 40px;
}

.red {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.size {
    width: 50%;
    padding-left: 2%;

}

.size img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.shadow {
    box-shadow: 10px 40px 10px rgb(127, 111, 114);
    width: 40%;

    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}

.Third-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#side-different-color {
    border-left: 7px solid blue;
}

#side-border {
    border-left: 7px solid tomato;
}

footer {
    text-align: center;
}